.product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.product-container {
  width: 400px;
  background-color: #fff;
  border: 1px solid silver;
}

.product-row {
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
}

.product-row__active {
  color: red;
}

.product-title {
  display: flex;
  height: 30px;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}